ul {
  list-style-type: none;
  display: inline;
  padding: 0;
  margin: 0;
}

.f-14 {
  font-size: 0.8rem;
}

navbar-nav li {
  display: inline;
  margin-right: 8px;
}

.f-20 {
  font-size: 1rem;
}

.p-10 {
  padding: 10px;
}
.social-links {
  font-size: 0.9em;
}

.bg-light-grey {
  background: #edeff1;
}

.debug {
  border: 1px solid red;
}

.text-dark-blue {
  color: #0f3661;
}

.responsive-logo {
  margin: 19px 0 0 0;
}
.text-gunpowder {
  color: #42435d;
}

.border-yellow {
  width: 20%;
  height: 5px;
  padding-top: 0.9rem;
  border-bottom: 5px solid#f2c21a;
}

.responsive-address {
  display: block;
}

.bg-dark-blue {
  background: #0f3661;
}

.navbar-nav li:hover {
  background: #f2c21a;
}
.navbar-nav li a:hover {
  color: #0f3661 !important;
}
.btn-buttercup {
  background: #f2c21a;
}
.btn-downriver {
  background: #0f3661;
}

.navbar-nav li {
  padding-top: 6px;
  padding-bottom: 6px;
}

.banner-img-bg {
  background-image: url("/banner-image/banner-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.text-mirage {
  color: #182331;
}

.text-shuttlegray {
  color: #646a7c;
}

.service-box {
  border: 1px solid #ebebeb;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 38px 45px 34px 39px;
  background-color: #ffffff;
}

.bg-Porcelain {
  background: #edeff1;
}

.project-img img {
  width: 25%;
  height: auto;
}

.bg-sanjuan {
  background: #364f6f;
}

input[type="text"] {
  padding: 23px !important;
}

.text-lavender {
  color: #b5b7d2;
}
.s-fa-size {
  font-size: 3rem;
}

.s-m {
  margin-top: -6rem;
  z-index: -1;
}

footer a {
  color: #b5b7d2 !important;
}

.footer-bg-dark-blue-color {
  background: #0d2034;
}

footer div ul {
  list-style: none;
  line-height: 2;
}

footer li {
  font-size: 14px;
}

.widget-info {
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 3px 20px 0px 0px;

  border: 1px solid #ebebeb;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ctabg {
  background-image: linear-gradient(
      rgba(15, 54, 97, 0.8),
      rgba(15, 54, 97, 0.8)
    ),
    url("/banner-image/banner-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media only screen and (max-width: 600px) {
  .responsive-logo {
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .responsive-address {
    text-align: center;
  }
}
